<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-between m-2">
    <a class="navbar-brand" href="#">Navbar</a>
    <a th:href="@{/logout}" class="btn btn-outline-danger"> Logout</a>
</nav>

<div class="container mt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="row mb-3 justify-content-end">
                    <a th:href="@{'/formMsg'}" class="btn btn-outline-primary w-auto">Add Message</a>
                </div>
                <div class="card p-3 shadow">
                    <div class="card-body">
                        <div class="row justify-content-center my-2 " th:each="msg:${messages}">
                            <div class="col col-2 border p-2  rounded" th:text="${msg.header}"></div>
                            <div class="col col-4 border p-2  rounded" th:text="${msg.body}"></div>
                            <div class="col col-2 border p-2  rounded" th:text="${msg.date}"></div>
                            <div class="col col-2 border p-2  rounded d-flex gap-2">
                                <a th:href="@{'/deleteMsg/'+${msg.id}}"
                                   class="btn btn-outline-danger align-self-center">delete</a>
                                <a th:href="@{'/editMsg/'+${msg.id}}"
                                   class="btn btn-outline-secondary align-self-center">edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>